<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">

        <!-- All of the lines just below were verbatim pasted from fonts.google.com. Remember how this works re: font weights, etc. -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="assets/css/style.css"> <!--always put this line after fonts because of how things load-->

        <title>Frontend Mentor | Time tracking dashboard</title>
    </head>
    <body>
        <div id="app" v-cloak> <!-- 'v-cloak' prevents the user from being able to see Vue rendering in the UI. I.e., thanks to 'v-cloak', the mustache syntax etc. is no longer visible for that split second. Note there is styling for 'v-cloak' in the CSS. -->
            <main>
                <header>
                    <ul class="header-list-1">
                        <li>
                            <img src="assets/img/image-jeremy.png" alt="picture of person who is subject of report">
                        </li>
                        <li>
                            <p>Report for</p>
                            <p>Jeremy <span>Robson</span></p>
                        </li>        
                    </ul>
                    <ul class="header-list-2">
                        <li v-for="(val, prop) in timePeriods" :key="prop"> <!-- note that when using 'v-for' to loop through an object (as opposed to an array), it usually works well to set ':key' to the keys/properties of the object (as is done above) because each object key/prop is unique -->
                            <button class="time-period-btn" :class="{ 'active': selected === prop.toLowerCase() }" @click="selected = prop.toLowerCase()">{{ prop }}</button> <!-- Explanation of the value that ':class' is set to in the above case: The 'active' class (styled in style.css) will be applied to the button element if the 'selected' Vue data property equals 'prop.toLowerCase()'. -->
                        </li>
                    </ul>
                </header>
                <section class="card" :class="card.title.toLowerCase().replace(' ', '-')" v-for="card in cards" :key="card.title">
                    <div class="for-background-image"></div>
                    <div class="activity-list">
                        <ul class="activity-list-ul-1">
                            <li>{{ card.title }}</li>
                            <li>
                                <button>
                                    <!-- Why am I embedding this <svg> tag (taken from the svg image file and then edited in order to change size) instead of just using a regular <img> tag with 'assets/img/...'? So that I can access the svg's 'path' tag and change its 'fill' attribute in my CSS file. -->
                                    <svg width="28" height="auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 5">
                                        <path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="#BBC0FF" fill-rule="evenodd"/>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                        <ul class="activity-list-ul-2">
                            <li><span class="hours-current">{{ card.timeframes[selected].current }}</span>hrs</li>
                            <li><span class="previous-period">{{ timePeriods[selected.slice(0, 1).toUpperCase() + selected.slice(1)] }}</span> - <span class="hours-previous">{{ card.timeframes[selected].previous }}</span>hrs
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
        </div> <!-- Note: I put this here instead of below <footer> (like normal) because of how the CSS already was from my non-Vue version. I didn't want to have to mess with the styling too much since my goal is to use this version to practice Vue. And I also know that <footer> doesn't require any JS, so it should be fine to do it this way this time. -->
        <footer>
            <p class="attribution">
                Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
                Coded by <a href="#">Ben Boorstein</a>.
            </p>
        </footer>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>